<?xml version="1.0"?>
<configuration>
   <appSettings>
      <add key="ServiceName" value="GFMSClient"/>
      <add key="DisplayName" value="GFMS Client Service"/>
      <add key="Description" value="Key Systems, Inc. GFMS Client Service"/>
   </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="SAM" publicKeyToken="CDE4C2B337F5CD01" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.20.0.0" newVersion="1.20.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
