form {
  position: relative;
  width: 250px;
  margin: 0 auto;
  padding: 20px 22px;
}

form input,
form button {
  width: 212px;
  border: 1px solid;
  padding: 8px 24px 8px 10px;
  margin-bottom: 19px;
}

form button[type="submit"] {
  width: 248px;
  margin-bottom: 0;
  cursor: pointer;
}
